.Background {
    background-image: url(./assets/img/login/balloon-lg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Logo-Login {
    object-fit: contain;
    height: 40px;
}